/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom variables and styles */
:root {
  --primary: #ff6b00;
  --secondary: #f3f3f3;
}

body {
   font-family: 'Manrope', sans-serif;
  background-color: var(--secondary);
  color: #111;
}
